@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-plus-jakarta), sans-serif;
  overflow-x: hidden;
  width: 100%;
}

@layer base {
  .nav-items {
    @apply hover:text-[rgb(110,56,147)] duration-300;
  }
}

/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(110, 56, 147, 1);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(110, 56, 147, 1);
}

/* Global CSS */
body {

  -ms-overflow-style: none;
}


body {
  scrollbar-width: none;
}


body::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
